@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #ff5edf;
  --color-primary-dark: darken(--color-primary, 20%);
  --color-primary-light: lighten(--color-primary, 20%);
  --color-secondary: #04c8de;
  --color-secondary-dark: darken(--color-primary, 20%);
  --color-secondary-light: lighten(--color-primary, 20%);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  --card-box-shadow: 0px 0px 2rem 0.3rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-2);
  --color-text-light-default: #faf9f9;
  --color-text-light-onHover: #999;
  --color-text-dark-default: #333;
  --color-text-dark-onHover: #faf9f9;
  --color-white: #fff;
  --color-black: #000;
  --color-btn-default: #495b78;
  --default-font-size: 3.6rem;
  --default-border-radius: 15px; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*::before *::after {
  box-sizing: inherit; }

body {
  min-height: 100vh;
  background: linear-gradient(89deg, --color-primary 0%, --color-secondary 100%);
  background-repeat: no-repeat;
  background-size: cover; }

a,
a:visited,
a:link {
  text-decoration: none; }

button {
  box-shadow: none;
  border: none; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-text-dark-default);
  font-size: 1.6rem; }

.card {
  flex: 1;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--default-border-radius); }
